@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Press Start 2P', sans-serif;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 45px;
  min-width: 95%;
  position: fixed;
}

.header {
  background-color: rgb(76, 175, 80);
  color: white;
}

.header-section > .header-title {
  font-size: 1rem;
}

.header-section > .theme {
  font-size: 0.8rem;
  cursor: pointer;
}

.welcome-content {
  height: 580px;
  padding: 20px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-section {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.welcome-section {
  line-height: 25px;
}

.started-btn {
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.what-we-offer {
  margin-top: 40px;
  margin-bottom: 100px;
  height: 500px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.offer-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  gap: 20px;
}
.offer-blocks > div {
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  background-color: #4caf50;
  color: white;
}

.offer-blocks > div > p {
  font-size: 0.8rem;
}

.footer-section {
  padding: 20px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section > p {
  font-size: 0.8rem;
}

.about-section {
  margin: 15px 30px;
  height: 500px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.about-section > p {
  font-size: 0.8rem;
  background-color: #4caf50;
  color: white;
  line-height: 25px;
  padding: 50px;
}

.task-input {
  margin-top: 20px;
  padding: 10px;
  width: 800px;
  height: 150px;
  resize: none;
  outline: none;
  border: 1px solid #ccc;
}

.task-title {
  margin-top: 20px;
  padding: 10px;
  width: 800px;
  height: 50px;
  resize: none;
  outline: none;
  border: 1px solid #ccc;
}

.create-task-btn {
  font-family: 'Press Start 2P', sans-serif;
  margin-top: 20px;
  padding: 25px 30px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.task-paragraph {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 20px;
}

/* @media screen and (max-width: 768px) {
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    min-width: auto;
    position: fixed;
  }
} */
